ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}


li {
    display: inline-block;
    padding: 30px 70px;
    text-decoration: none;
   
}

li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
    background-color: whitesmoke;
}
#relative {
    position: relative;
    left: 130px;
    top: 30px;
    color: orangered;
    text-decoration: underline;
    text-decoration-color: black;
    background-color: white;
    font-size: 40px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-seri;
}

div.center {
    width: 100% ;
    background-color: black;
    left: -50px;
}
section {
    text-align: center;
    background-color: lightgray
   
}

div.pic {
    display: inline-block;
    width: 800px;
    height: 600px;
    margin: 30px;
    background: white;    
  }

  



