ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}


li {
    display: inline-block;
    padding: 30px 70px;
    text-decoration: none;
   
}

li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
    background-color: whitesmoke;
}
#relative {
    position: relative;
    left: 130px;
    top: 30px;
    color: lightgray;
    text-decoration: underline;
    text-decoration-color: black;
    background-color: white;
    font-size: 40px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-seri;
}

#center {
    width: 100% ;
    background-color: black;
    
}

#newpic {
    position: absolute;
    left: 120px;
    top: 155px;
    z-index: 1;
  
}
#thirdpic {
    position: absolute;
    left: 1300px;
    top: 155px;
    z-index: 1;
    
}
section {
    text-align: center;
    background-color: lightgray;
   
}

div.pic {
    display: inline-block;
    width: 800px;
    height: 600px;
    margin: 30px;
    background: white;    
  }

div.pic2 {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin: 10px;
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    height: 100px;
    background-color: white;
}

#sec1 {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

#sec2 {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.6s;
  }


#sec3 {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.9s;
}



/*wd3 schools | Used to hover and popup a tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
  
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 30px;
    top:-50px;
    left:-100px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* ----------------------------------------- */
@keyframes fadein {
    0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
    }
}
.controls {
    animation-name: pound 1s infinite alternate;

}

@keyframes pound {
	to { transform: scale(.5); }
}


